/* Basic reset for styling */
.profile-picture {
    display: block;
    margin: 1rem auto;
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
}

/* Typography */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 32px;
}
.underlined-text {
    text-decoration: underline;
    font-style: italic;
}
.bold-text {
    font-weight: bold;
}

/* Section Styling */
.introduction, .project-overview, .variant-changes, .variants-metrics, .creating-hypotheses, .statistical-testing, .summary-statistics {
    margin-bottom: 48px;
    padding: 2rem;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Introduction Section */
.introduction {
    text-align: center;
    padding: 48px 32px;
    background-color: #f0f8ff;
}

.custom-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    align-items: center;
}

.custom-button:hover {
    background-color: #0056b3;
}

/* Common Styling for Sections */
.project-overview, .variant-changes, .variants-metrics, .creating-hypotheses, .statistical-testing, .summary-statistics {
    background-color: #f0f8ff;
}

/* Variant Changes Section Styling */
.variant-changes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.variant-wrapper {
    flex: 1;
    max-width: 45%;
    text-align: center;
}

.variant-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.variant-wrapper figcaption {
    display: block;
    font-weight: bold;
    text-align: center;
}

/*Styling for the table*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #83a6da;
    font-weight: bold;
}



/* Media Queries */
@media (max-width: 768px) {
    .variant-changes-container, .wireframes-container, .mockups-container {
        flex-direction: column;
    }
    .variant-image, .sketch-image, .wireframe-image, .mockup-image {
        width: 100%;
    }
    .style-guide img {
        width: 100%;
    }
    .variant-wrapper {
        max-width: 100%;
    }
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
}
